#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<div class="ui two column grid container">
    <div class="ui center aligned column">
        <div class="middle aligned content">
            <h1 class="ui header">
                Weather App
            </h1>
            <h3 class="ui header">
                Monitor latest weather station readings
            </h3>
        </div>
    </div>
    <div class="column">
        <img class="ui right floated image" src="/public/images/weather-icons.jpg">
    </div>
</div>