#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to WeatherTop!
    </h1>
    <img class="ui centered image" src="/public/images/start.jpg">
    <p>
        <span class="ui large text">A small app to display different weather stations.</span>
    </p>
    <p>
        This app will allow you to create, manage and share your weather.
        Simple enter the station details one the dashboard.
    </p>
    <p>
        Please <span class="ui medium red text">Signup</span> or <span class="ui medium red text">Login</span> using the
        menu above.
        Have Fun!
    </p>
</section>